$color_1: #0058ac;
$color_2: #d43200;
$color_3: #beb9b9;
$color_4: rgb(57, 145, 238);
$color_5: gray;
$color_6: black;
$color_7: white;
$color_8: whitesmoke;
$background-color_1: #f2f3f3;
$background-color_2: white;
$background-color_3: #0058ac;
$background-color_4: #0058ca;
$background-color_5: #d7f1fc;
$background-color_6: #fff;
